@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;padding: 0;
}

#hero{
    height: 900px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;

}
#hero .hero-contant{
    width: 1000px;
    margin: 26px auto;align-items: center;
}
#hero .hero-contant .subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;opacity: 0.7;

}
#hero .hero-contant .title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
#hero .hero-contant img{
    display: block;margin: 0 auto;
}
#hero .hero-contant button{
    display: block;margin: 20px auto;
    border-radius: 8px;

    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;padding: 27px 55px;
}
/*end*/
#section-2{
    margin: 130px 90px 0px 90px;
    padding: 0 40px;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}
#section-2 .section-2-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}
#section-2 .section-2-content h1{
   padding-bottom: 20px;
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.myinspiration-contant{

}

#section-2 .section-2-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.s2contant-image{
    display: flex;
    justify-content: space-around;
   padding-bottom: 100px;
}
.s2contant-image .leftcontant h2{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding-bottom: 30px;
}
.s2contant-image .leftcontant p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;opacity: 0.7; padding-bottom: 30px;
}
.s2contant-image .leftcontant button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px 60px;
}
/* end of section 2*/

.video-container{
display: flex;
justify-content: center;align-items: center;

}
.video-container iframe{
    max-width: 100%;
    max-height: 100%;
}
#my-inspiration{
    margin: 80px 90px 0px 90px;
    padding: 0 40px;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}
.myinspiration-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    max-width: 1000px;
margin-left:  350px;gap: 50px;
    
}
.myinspiration-contant-p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;opacity: 0.7;
}
.myinspiration-contant-h{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
/*end of inspiration section*/
#my-terget{
    margin-top: 100px;
    margin: 130px 90px 0px 90px;
    padding: 0 40px;
    border-radius: 16px;
max-width: 1380px ;
background: rgba(13, 19, 33, 0.02);
}
/* end current terget*/
.card{
    display: flex;justify-content: space-between;
margin-left: 250px;
}
.card1{
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
}
    /* Frame 10 */
 .card-style{
    position: static;
width: 364px;
height: 300px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
gap: 10px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px; 
}
.card2{
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.card3{
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05); 
}
.a-color{
    color: #000;
}
